html, body {
    height: 100%;
    margin: 0;
}
/*делаем чёрный фон и выравниваем всё по центру*/
body {
    background-color: rgb(233,234,225);
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

/*толщина холста — 1 пиксель, белый цвет*/
canvas#game {
    background-color: rgb(146,197,178);
}

.score__container {
    font-size: 45px;
    margin-left: 10px;
    width: 300px;
    margin-top: 160px;
    font-family: Quicksand;
}

.score__container > div {
    margin-bottom: 40px;
}

.next__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
    font-size: 50px;
    height: 100px;
    font-weight: bold;
    font-family: Montserrat;
}

#emotion {
    font-size: 45px;
    width: 300px;
    margin-top: 160px;
    font-family: Quicksand;
}

#actions {
    flex-direction: row;
    position:absolute;
    display: flex;
    top: 0;
    right: 0;
    width: 300px;
    height: 120px;
    justify-content: center;
    align-items: center;
}

#actions > a {
    padding: 30px;
    width: 30px;
    cursor: pointer;
    background: url('/icons/home.svg') center/70% no-repeat;
}

#actions > a:first-child {
    background: url('/icons/reload.svg') center/70% no-repeat;
}